{{/* sticky footer height is same as <body> margin-bottom */}}
<footer class="bg-my-teal text-grey-darkest absolute w-full pin-b">
    <div class="container mx-auto px-8 py-1 text-sm">
        <div class="my-2">
            {{ range .Site.Params.navigation.social -}}
                <a class="mr-4 text-grey-darkest no-underline text-3xl dim" href="{{ .URL }}" title="{{ .Name }}">{{ partial "icon" (dict "icon" .Identifier) }}</a>
            {{ end }}
        </div>
            <div class="my-2 opacity-75">{{ .Site.Params.CopyrightHTML | safeHTML }}</div>
        <div class="mt-1 mb-2 text-grey-darkest opacity-50"><a href="https://grayscale.digital" class="text-grey-darkest no-underline">Site by Grayscale Digital</a></div>
    </div>
</footer>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<script src="/{{ index .Site.Data.assetMap "main.js" }}"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>
