<header id="main-nav" class="w-full bg-white border-b border-grey-light">
    <div class="w-full bg-blue-darker text-white text-xs">
        <div class="container mx-auto py-1 px-8 flex">
            <a href="tel:415.555.5555" class="text-white no-underline dim">
                <div class="inline-block flex items-center">
                    {{ partial "icon" (dict "icon" "dialpad") }}
                    <span class="ml-1">415.555.5555</span>
                </div>
            </a>
            <div class="mx-1">|</div>
            <a href="mailto:sharon@transportcopy.com" class="text-white no-underline dim">
                <div class="inline-block flex items-center">
                    {{ partial "icon" (dict "icon" "mail_outline") }} 
                    <span class="ml-1">sharon@transportcopy.com</span>
                </div>
            </a>
        </div>
    </div>
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between py-4 px-8">
        <div class="text-2l font-semibold flex flex-row justify-between w-full md:w-2/5">
            <div>
                <a class="text-2xl text-grey-darker font-bold no-underline" href="{{ .Site.BaseURL | relLangURL }}">
                    <img src="/images/transport-logo.svg" class="h-16">
                </a>
            </div>
            <div class="block md:hidden">
                <button class="flex items-center px-3 py-2 border rounded text-blue border-blue hover:text-blue-darker hover:border-blue-darker" @click="toggleMenu">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
        </div>
        <nav class="items-start md:items-center flex-col md:flex-row md:flex md:justify-end w-full" :class="{ 'mobile:hidden': !isMenuOpen }">
            <ul class="list-reset">
                {{- $currentPage := . -}}
                {{ $list := (.Site.Menus.main) }}
                {{ $len := (len $list) }}
                {{ range $index, $element := $list }}
                <li
                    {{- if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                    class="nav-item active"
                    {{- else }}
                    class="nav-item"
                    {{- end -}}>
                    <a
                    {{ if eq (add $index 1) $len -}}
                    class="nav-cta dim"
                    {{- else -}}
                    class="nav-link dim"
                    {{- end -}}
                    href="{{ .URL | relLangURL }}">
                    {{- .Name -}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
