{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle)}}

    <div class="container mx-auto mt-12 px-2 md:px-8">
        <div class="grid grid-columns-1 md:grid-columns-2 items-center">

            <div class="px-2 md:px-8 py-4">
                {{ if (isset .Params "img_src_1") }}
                    <div class="shadow-md">
                        <div class="h-64 md:h-100 bg-center bg-no-repeat bg-cover" style="background-image: url('{{ .Params.img_src_1 }}');"></div>
                    </div>
                {{ end }}
            </div>

            <div class="px-2 md:px-8 py-4 leading-tight content">
                <h1 class="text-3xl md:text-5xl text-black">{{ .Params.headline }}</h1>
                <h3 class="text-xl md:text-3xl text-grey-darkest font-normal">{{ .Params.subheadline }}</h3>
            </div>

        </div>

        <div class="mx-auto max-w-lg w-full px-2 md:px-8 md:mt-8 text-grey-darkest leading-normal content">
            {{ .Content }}
        </div>
    </div>

</div>

{{ end }}
