{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle)}}

    <div class="max-w-lg mx-auto w-full px-4 md:px-8 py-2 mt-8 leading-normal">
        <div class="float-right p-4 clearfix">
            <img class="w-64" src="/images/sharon_scaled.jpg" alt="Headshot of Sharon">
            <br>
            <span class="italic text-grey-dark">Sharon Beckstrand</span>
        </div>
        <div class="content">
            {{ .Content }}
        </div>
    </div>


</div>

{{ end }}
