{{ define "main" }}

<div>
    {{ partial "page-title" (dict "title" .Title "subtitle" .Params.subtitle)}}

    <div class="container mx-auto mt-12 px-2 md:px-8">
        <div class="grid grid-columns-1 md:grid-columns-2">

            <div class="px-2 md:px-8 py-4">
                {{ if (isset .Params "img_src_1") }}
                    <div class="shadow-md">
                        <div class="h-64 bg-center bg-no-repeat bg-cover" style="background-image: url('{{ .Params.img_src_1 }}');"></div>
                    </div>
                {{ end }}
                {{ if (isset .Params "img_src_2") }}
                    <div class="shadow-md mt-8 mobile:hidden">
                        <div class="h-64 bg-center bg-no-repeat bg-cover" style="background-image: url('{{ .Params.img_src_2 }}');"></div>
                    </div>
                {{ end }}
            </div>

            <div class="px-2 md:px-8 py-4 text-grey-darkest leading-normal content">
                {{ .Content }}
            </div>

        </div>
    </div>

</div>

{{ end }}
